name: ci
on:
  push:
    branches-ignore:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v6
      - name: setup mecab
        run: |
          sudo apt-get install -y --no-install-recommends mecab libmecab-dev mecab-ipadic-utf8
          git clone --depth 1 https://github.com/neologd/mecab-ipadic-neologd.git /tmp/neologd
          sudo /tmp/neologd/bin/install-mecab-ipadic-neologd -n -y
          sudo mv /usr/lib/x86_64-linux-gnu/mecab/dic/mecab-ipadic-neologd /var/lib/mecab/dic/
          sudo sed -i 's/debian/mecab-ipadic-neologd/' /etc/mecabrc
      - name: create member data
        run: cut -f1 data/members_nogi.tsv | mecab -O yomi
