name: ci
on:
  push:
    branches-ignore:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install sudachi
        run: |
          uv tool install sudachipy
          uv tool run --from sudachipy pip install sudachidict-core

      - name: output
        run: |
          paste \
            <(cut -f2 data/members_nogi.tsv | sudachipy | grep '姓' | cut -f1 | shuf | \
              head -n $(cut -f2 data/members_nogi.tsv | sudachipy | grep '人名,名' | cut -f1 | wc -l)) \
            <(cut -f2 data/members_nogi.tsv | sudachipy | grep '人名,名' | cut -f1 | shuf) | \
          head -n 10
